@font-face {
  font-family: roboto;
  src: url('../fonts/rm.ttf');
}

body{
  font-family: roboto;
  text-align: center;
  color: white;
}

.content{
  margin-top: 35vh;
}

#clock{
  font-size: 60px;
  font-weight: 10;
}

#ampm{
  font-size: 45px;
  font-weight: 30;
}
